<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ankit.pointofsolution">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".DeviceVerificationActivity" />
        <activity
            android:name=".PaymentOptionsActivity"
            android:label="@string/title_activity_payment_options"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.ListofOrdersActivity"
            android:label="@string/title_activity_listof_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adapter.OrdersAdapter"
            android:label="@string/title_activity_orders_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.OrdersDetailsActivity"
            android:label="@string/title_activity_orders_details"
            android:parentActivityName=".modules.ListofOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentConfirmation"
            android:label="@string/title_activity_payment_confirmation"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".PaymentOptionsActivity"/>
        <activity android:name=".Text" />
        <activity android:name=".Printer"></activity>
    </application>

</manifest>